$main-color: #ffff80;

//---------------<Navbar>-------------------
// navbar
$navbar-color: #ffff80;
$text-color: #000;

// navbar color while hovering
$text-color-hover: #000;
$background-color-hover: #fff;

//li has active
$text-color-active: #fff;
$background-color-active: #000;

// dropdown color

//-------------------------------------------
$test-color: rgb(235, 17, 180);